#map {
  height: 60vh;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.form {
  margin-top: 40px;
}

.form__row {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.panel {
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  height: 60vh;
  overflow: auto;
  padding: 0 24px;
  transform: translateX(-444px);
  transition: transform 1.5s;
}

.panel.active {
  transform: translateX(0);
}