* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  color: #222F281E;
  font-family: 'Roboto';
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.box {
  width: 400px;
  height: 400px;
  background-color: cadetblue;
  border: 4px solid green;
  padding: 12px;
  padding: 12px;
  width: 25%;
  display: inline-block;
}

.box:nth-child(2) {
  margin-top: 70px;
}

.content {
  height: 68px;
  width: 200px;
  background: aquamarine;
  margin: 28px ;
  padding: 12px;
  overflow: auto;
  float: left;
}

.btn {
  background: #FF9900;
  border-radius: 4px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.mr-sm {
  margin-right: 20px;
}

.mr-md {
  margin-right: 40px;
}

.mb-sm {
  margin-bottom: 10px;
}

.btn-sm {
  padding: 11px 25px;
}

.btn-md {
  padding: 15px 40px;
}

.btn-outline {
  background: transparent;
  border: 1px solid #BCD0E5;
  color: #173A56;
}

.backdrop::after {
  background: url(../img/portfolio_1.png) no-repeat center/contain;
  height: 800px;
}

/* /////////////////HEADER STYLE/////////////////////// */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  flex-wrap: wrap;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 26px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.nav-list__link {
  color: #2F281E;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}

.nav-buttons {
  display: flex;
  gap: 14px;
}